<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exciting News: New Reply on Your Question!</title>
</head>

<body>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <!-- START HEADER/BANNER -->
        <tbody>
            <tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td align="center" valign="top" bgcolor="#66809b"
                                    style="background-size: cover; background-position: top;height:400px; background-image: url('https://i.pinimg.com/564x/99/35/b3/9935b305f2115385c38fd3f62098983b.jpg');">
                                    <table class="col-600" width="600" height="400" border="0" align="center"
                                        cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="40"></td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="line-height: 0px;">
                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                        src="https://designmodo.com/demo/emailtemplate/images/logo.png"
                                                        width="109" height="103" alt="logo">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffffff; line-height:24px; font-weight: bold; letter-spacing: 7px;">
                                                    Hello <span
                                                        style="font-family: 'Raleway', sans-serif; font-size:37px; color:#ffffff; line-height:39px; font-weight: 300; letter-spacing: 7px;">
                                                        <%= name %>!
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#324b2a;">
                                                    Don't miss out on the latest discussion! Log in now to discover what
                                                    the community
                                                    has to say.</td>

                                            </tr>
                                            <tr>
                                                <td height="50"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <!-- END HEADER/BANNER -->
            <!-- START 3 BOX SHOWCASE -->
            <tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                        style="margin-left:20px; margin-right:20px; border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9;">
                        <tbody>
                            <tr>
                                <td height="35"></td>
                            </tr>
                            <tr>

                                <td align="center"
                                    style="font-family: 'Lato', sans-serif; font-size:15px; color:#3d0d0d; line-height:24px; font-weight: 700;">
                                    We're thrilled to inform you that a new reply <br>awaits you regarding
                                    your question in the video "<%= title %>".
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td align="center"
                                    style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0"
                        style="border-left: 1px solid #dbd9d9; border-right: 1px solid #dbd9d9; ">
                        <tbody>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="col3" width="183" border="0" align="left" cellpadding="0"
                                        cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table class="insider" width="133" border="0" align="center"
                                                        cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr align="center" style="line-height:0px;">
                                                                <td>
                                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-about.png"
                                                                        width="69" height="78" alt="icon">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td
                                                                    style="font-family: 'Raleway', Arial, sans-serif; font-size:20px; color:#2b3c4d; line-height:24px; font-weight: bold;">
                                                                    About Us
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10"></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td
                                                                    style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                                                                    Place some cool text here.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="1" height="20" border="0" cellpadding="0" cellspacing="0"
                                        align="left">
                                        <tbody>
                                            <tr>
                                                <td height="20"
                                                    style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                                    <p style="padding-left: 24px;">&nbsp;</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="col3" width="183" border="0" align="left" cellpadding="0"
                                        cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table class="insider" width="133" border="0" align="center"
                                                        cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr align="center" style="line-height:0px;">
                                                                <td>
                                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-team.png"
                                                                        width="69" height="78" alt="icon">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td
                                                                    style="font-family: 'Raleway', sans-serif; font-size:20px; color:#2b3c4d; line-height:24px; font-weight: bold;">
                                                                    Our Team
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10"></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td
                                                                    style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                                                                    Place some cool text here.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="1" height="20" border="0" cellpadding="0" cellspacing="0"
                                        align="left">
                                        <tbody>
                                            <tr>
                                                <td height="20"
                                                    style="font-size: 0;line-height: 0;border-collapse: collapse;">
                                                    <p style="padding-left: 24px;">&nbsp;</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table class="col3" width="183" border="0" align="right" cellpadding="0"
                                        cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table class="insider" width="133" border="0" align="center"
                                                        cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr align="center" style="line-height:0px;">
                                                                <td>
                                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-portfolio.png"
                                                                        width="69" height="78" alt="icon">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="15"></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td
                                                                    style="font-family: 'Raleway',  sans-serif; font-size:20px; color:#2b3c4d; line-height:24px; font-weight: bold;">
                                                                    Our Portfolio
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10"></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td
                                                                    style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                                                                    Place some cool text here.
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="5"></td>
            </tr>
            <!-- END 3 BOX SHOWCASE -->
            <!-- START AWESOME TITLE -->
            <tr>
                <td align="center">
                    <table align="center" class="col-600" width="600" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="#2a3b4c">
                                    <table class="col-600" width="600" align="center" border="0" cellspacing="0"
                                        cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td height="33"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="col1" width="183" border="0" align="left"
                                                        cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="18"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <img style="display:block; line-height:0px; font-size:0px; border:0px;"
                                                                        class="images_style"
                                                                        src="https://designmodo.com/demo/emailtemplate/images/icon-title.png"
                                                                        alt="img" width="156" height="136">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="col3_one" width="380" border="0" align="right"
                                                        cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr align="left" valign="top">
                                                                <td
                                                                    style="font-family: 'Raleway', sans-serif; font-size:20px; color:#f1c40f; line-height:30px; font-weight: bold;">
                                                                    Thank you <%=name%>! </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="5"></td>
                                                            </tr>
                                                            <tr align="left" valign="top">
                                                                <td
                                                                    style="font-family: 'Lato', sans-serif; font-size:14px; color:#fff; line-height:24px; font-weight: 300;">
                                                                    for being an integral part of our vibrant community.
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td height="10"></td>
                                                            </tr>
                                                            <tr align="left" valign="top">
                                                                <td>
                                                                    <table class="button"
                                                                        style="border: 2px solid #fff;"
                                                                        bgcolor="#2b3c4d" width="30%" border="0"
                                                                        cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="10"></td>
                                                                                <td height="30" align="center"
                                                                                    style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#ffffff;">
                                                                                    <a href="#"
                                                                                        style="color:#ffffff;">Read
                                                                                        more</a>
                                                                                </td>
                                                                                <td width="10"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr align="left" valign="top">
                                                                <td
                                                                    style="font-family: 'Raleway', sans-serif; font-size:20px; color:#f1c40f; line-height:30px; font-weight: bold;">
                                                                    Best regards,<br>Happy Learning </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="33"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>


</body>

</html>